/*gobal selectors*/
h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 16rem; /*1 rem = 16px 16*16*/ 
}

h2 {
  font-szie: 3rem;
}

h3 {
  font-size: 1.4rem;
}

span {/*degree symbol*/
  font-size: 6rem;
}

.container > .middle img {
  width: 30px;
  height: 30px;
}

.degree {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-left: 2rem;
}

.container {
  max-width: 550px;/*max-width with mobile*/
  height: 100vh;/*not 100%, 100vh = 100% of the viewport height.*/
  border: 1px solid black;
  margin: 0 auto;
  disply: grid; /*gonna use grid method*/
  grid-template-rows: 20% 80%;
  text-align: center;
  padding: 25px 5px;
}
